---
import SiteLayout from "@layouts/SiteLayout.astro";
---

<SiteLayout title="About">
  <div
    class="container mx-auto text-center items-center flex flex-col gap-8 p-2 md:p-14 font-poppins"
  >
    <h1 class="text-4xl">About us</h1>
    <section class="flex w-full flex-col gap-3 p-8 rounded-lg bg-base-300 shadow-md">
      <h2 class="text-2xl">Who Are We?</h2>
      <p>
        We are a digital media service, at the intersection of technology and literature,
 providing a space for writers to showcase their work and for readers to discover diverse content.
      </p>
    </section>
    <section class="flex flex-col gap-3 p-8 rounded-lg bg-base-300 shadow-md">
      <h2 class="text-2xl">What Do We Do?</h2>
      <p>
        We are not just about sharing stories; we're shaping the future of storytelling and the future of work. 
By leveraging technology and fostering a supportive community, we empower creators to turn their passion for writing into sustainable careers. 
We provide a platform for creators to thrive in the evolving landscape of the creative economy. 
Join us as we redefine the way stories are told, shared and monetized, paving the way for a new era of literature and innovation.
      </p>
    </section>
  </div>
</SiteLayout>
