---
import SiteLayout from "@layouts/SiteLayout.astro";
---

<SiteLayout title="FAQ">
  <div class="container mx-auto items-center flex flex-col gap-8 p-2 md:p-14 font-poppins">
    <h1 class="text-4xl">Frequently Asked Questions</h1>
    <section class="flex flex-col min-w-full gap-3 p-8 rounded-lg bg-base-300 shadow-md prose">

      <p>
        <a href="https://support.visionarywritings.com/" target="_blank">For more information, please visit our Support Centre by clicking here.</a>
      </p>
    </section>
  </div>
</SiteLayout>
