---
import SiteLayout from "@layouts/SiteLayout.astro";
import jwt from "jsonwebtoken";
import { z } from "zod";

import { formDataToJson, verifyCaptcha } from "@server/astroHelpers";
import { p } from "@server/db";
import { sendContactFormEmail, sendForgotPasswordEmail } from "@server/email";

const schema = z.object({
  email: z.string().email(),

  "g-recaptcha-response": z.string(),
});

let successMessage = "";
let errorMessage = "";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const parsedData = schema.safeParse(formDataToJson(data));

    if (parsedData.success) {
      console.log("Parse Success");
      const captchaPassed = await verifyCaptcha(parsedData.data["g-recaptcha-response"]);

      if (captchaPassed) {
        console.log("Captcha Passed Success");

        const user = await p.users.findUnique({ where: { email: parsedData.data.email } });
        if (user) {
          successMessage = "Success! Please check your email for a link to reset your password";
          const expiresIn = 60 * 60; // 1 hour
          const secretKey = process.env.ASTROAUTH_SECRET ?? "";

          // Generate the token with expiration
          const token = jwt.sign({ email: parsedData.data.email }, secretKey, { expiresIn });
          const decoded = jwt.verify(token, secretKey);
          console.log({ token, decoded });

          await sendForgotPasswordEmail(
            user.name,
            user.email,
            process.env.ASTROAUTH_URL + "/reset-password/" + token
          );
        } else {
          errorMessage = `No user exists with the email ${parsedData.data.email}`;
        }
      } else {
        errorMessage = "Captcha Failed. Please try again";
      }
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<SiteLayout title="forgot-password">
  <div
    class="container mx-auto items-center text-center flex flex-col gap-8 p-2 md:p-14 font-poppins"
  >
    <h1 class="text-4xl">Forgot Password</h1>

    <section class="flex w-full max-w-lg flex-col gap-3 p-8 rounded-lg bg-base-300 shadow-md">
      {
        successMessage && (
          <div class="alert alert-success shadow-lg">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="stroke-current flex-shrink-0 h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>{successMessage}</span>
            </div>
          </div>
        )
      }
      {
        errorMessage && (
          <div class="alert alert-error shadow-lg rounded-sm">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="stroke-current flex-shrink-0 h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>Error! {errorMessage}</span>
            </div>
          </div>
        )
      }

      {
        !successMessage && (
          <form method="post">
            <div class="form-control w-full">
              <label class="label">
                <span class="label-text">What is your email?</span>
              </label>
              <input
                name="email"
                type="email"
                required
                placeholder="Type here"
                class="input input-bordered w-full"
              />
              <div class="flex justify-center">
                <div class="g-recaptcha my-10" data-sitekey={process.env.CAPTCHA_SITE_KEY} />
              </div>

              <button type="submit" class="btn btn-primary">
                Reset Password
              </button>
            </div>
          </form>
        )
      }
    </section>
  </div>
</SiteLayout>
