---
import { z } from "zod";

import { p } from "@server/db";
import { hasValidSignature } from "@server/security";
import { InvoiceStatus } from "@server/subscriptionLogic";
import SiteLayout from "@layouts/SiteLayout.astro";

const invoiceIdParam = Astro.url.searchParams.get("invoice_id");
const invoiceId = z.coerce.number().parse(invoiceIdParam);
const urlIsValid = hasValidSignature(Astro.url.toString());
if (urlIsValid) {
  await p.payments_invoice.update({
    where: { id: invoiceId },
    data: { status_id: InvoiceStatus.Cancelled },
  });
}else {
  return Astro.redirect("/login")
}
---

<SiteLayout title="Payment Failed">
  <div>
    <div class="container mx-auto p-4 flex items-center justify-center">
      <div class="w-full max-w-md">
        <div class="card-body">
          <div class="flex justify-center mb-4">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
            ></script>
            <lottie-player
              src="https://assets4.lottiefiles.com/packages/lf20_dAPa1g1Yl8.json"
              background="transparent"
              speed="1"
              style="width: 400px; height: 400px;"
              loop
              autoplay
              class="-m-10"></lottie-player>
          </div>
          <div class="flex justify-center text-2xl">
            <h2 class="card-title text-center mb-4">Oops something did not work</h2>
          </div>
          <p class="text-center">
            Please check your payment details and try again
          </p>
          <div class="mt-6 flex justify-center">
            <a href="/app/billing" class="btn btn-primary">Go to Billing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</SiteLayout>
