---
import SiteLayout from "@layouts/SiteLayout.astro";
---

<SiteLayout title="Terms and Privacy Policy">
  <div class="container mx-auto items-center flex flex-col gap-8 p-2 md:p-14 font-poppins">
    <h1 class="text-4xl">Terms and Privacy Policy</h1>
    <section
      class="flex w-full min-w-full flex-col gap-3 p-8 rounded-lg bg-base-300 shadow-md prose"
    >
      <h4>WHAT INFORMATION DO WE COLLECT?</h4>
      <p>
        We collect information from authors and users when they join us. The author can choose which
        information to be publicly visible on their profile.<br /> We also collect information when you
        visit our site, via cookies and via web stats programs. We collect technical information such
        as your IP address, Web browser, and other information.<br /> Certain information about you will
        be shared with Google and other partners.
      </p>
      <h4>WHAT DO WE USE YOUR INFORMATION FOR?</h4>
      <p>
        Any of the information we collect from you may be used in one of the following ways:<br /> To
        personalize your experience.
      </p>
      <ul>
        <li>To improve our website.</li>
        <li>To administer a contest, promotion, survey or other site feature.</li>
        <li>To target ads to your interests, browsing history or profile.</li>
        <li>
          To keep track of the usage and user experience<br /> To give the audience a brief background
          about the authors.
        </li>
        <li>For marketing purposes.</li>
        <li>
          We may share to third parties for marketing or other business purposes without your
          consent.
        </li>
      </ul>
      <h4>HOW DO WE PROTECT YOUR INFORMATION?</h4>
      <p>
        We implement web security measures to maintain the safety of information we collect. These
        measures are not totally secure, however, and security breaches, hacks, etc. are common on
        the Internet.<br /> We are not responsible for the security of the information when it is possessed
        by any third party.
      </p>
      <h4>DO WE DISCLOSE ANY INFORMATION TO OUTSIDE PARTIES?</h4>
      <p>
        We may disclose your information to third parties when we believe release is appropriate to
        comply with the law, enforce our site policies, or protect ours or others&rsquo; rights,
        property, or safety. Visitor information may also be provided to other parties for
        marketing, advertising, or other business purposes.
      </p>
      <h4>THIRD PARTY LINKS</h4>
      <p>
        Occasionally, at our discretion, we may include or offer third party products or services on
        our website. These third party sites have separate and independent privacy policies. We
        therefore have no responsibility or liability for the content and activities of these linked
        sites.
      </p>
      <p>
        California Consumer Privacy Act (“CCPA”) Under CCPA, Californian residents have the right to
        declare their preferences on the sale of data for advertising and marketing purposes. If you
        wish to change your preferences, click this link to launch our preference portal: We use a
        third-party to provide monetisation technologies for our site. You can review their privacy
        and cookie policy here.
      </p>
      <h4>SUBSCRIPTION</h4>
      <p>Subscription term is on the period that you choose upon subscription.</p>
      <p>
        We use a secure 3rd party to manage your banking information, they are not managed by
        Visionary Writings (Pty) Ltd
      </p>
      <p>
        Once payment is processed we cannot refund your payment, however you can cancel subscription
        from your login panel for next billing date.
      </p>
      <h4>AUTHOR EARNINGS</h4>
      <p>
        Payments are made after the specified threshold has been reach, A request payment button
        will appear on the dashboard.
      </p>
      <p>
        Your earnings are determined by the various confidential algorithms implemented by Visionary
        Writings (Pty) Ltd on a yield basis, these algorithms can change from time to time.
      </p>
      <p>Visionary Writings (Pty) Ltd take a commission of 10% for every Tip made to an author.</p>
      <p>
        The Tip amout will appear on your wallet with the 10% commission deducted, alternatively you
        can check it on your Tips tab in the dashboard before the 10% commission.
      </p>
      <h4>LIABILITY</h4>
      <p>
        Visionary Writings (Pty) Ltd shall not be liable for content or actions of an author,
        employee or affiliate of the organization acting in their personal capacity.
      </p>
      <p>
        We do not endorse or share any views on the platform, we are merely a platform provider and
        not a narrator in anyway whatsoever.
      </p>
      <p>
        Visionary Writings does not own or is responsible for any content, pictures etc shared by
        the users and authors on the platform.
      </p>
      <p>
        We are not libaile for any 3rd party platforms, systems or entities unless stated otherwise
        on our platform.
      </p>
      <h4>CHILDREN ONLINE PRIVACY PROTECTION ACT</h4>
      <p>
        Our website, products and services are all directed to people who are at least 13 years old
        or older unless stated otherwise, we will not be held liable for a user that ignores our
        restrictions.<br /> Certain content might sound explicit with the aim to give sexual education
        and not to serve erotic content as we have zero tolerance for content that is erotic or explicit
        without the aim to educate or pass a moral lesson.
      </p>
      <h4>COPYRIGHT</h4>
      <p>
        Copyright is a legal right that seeks to protect original works of authorship (ex: books,
        music, film, art).<br /> Generally, copyright protects original expression such as words or images.
        It does not protect facts and ideas, although it may protect the original words or images used
        to describe an idea. Copyright also doesn&rsquo;t protect things like names, titles and slogans;
        however, another legal right called a trademark might protect those.
      </p>
      <p>
        In most countries, copyright is a legal right that protects original works of authorship.
        Typically, if you create one of those works, you obtain a copyright from the moment you
        create it.
      </p>
      <p>
        Remember, only original works are eligible for copyright protection. To be original enough
        for copyright protection, a work needs to be created by the author themselves, and must have
        some minimal amount of creativity.<br /> Generally, things like names, titles, slogans or short
        phrases aren't considered to be original enough for copyright protection. For example, the symbol
        &ldquo;+&rdquo; is likely not subject to copyright, but a painting full of shapes and colors
        arranged in a unique pattern is likely protected under copyright.
      </p>
      <p>
        Copyright doesn&rsquo;t generally protect facts or ideas, but it may protect the original
        words or images that express a fact or idea. This means that you may be able to express the
        same idea or fact as another author, as long as you don&rsquo;t copy that author&rsquo;s way
        of expressing that idea or fact. For example, a playwright may not be able to copyright the
        idea of a man waking up to repeat the same day over and over again, but the script for a
        play or movie expressing that idea could be subject to copyright.
      </p>
      <p>
        Visionary Writings, its colours, branding and designs are a copyright and intellectual
        property of Visionary Writings (Pty) Ltd and any extraction or imitation of the above
        mentioned is a copyright infringement, thus illegal/unlawful.
      </p>
      <h4>&nbsp;</h4>
      <h4>CONTENT OWNERSHIP</h4>
      <p>
        For content that is covered by intellectual property rights, like photos and videos (IP
        content), you specifically give us the following permission, subject to your privacy
        settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free,
        worldwide license to use any IP content that you post/publish on or in connection with
        Visionary Writings (IP License). This IP License ends when you delete your IP content or
        your account unless your content has been shared with others, and they have not deleted it.
      </p>
      <p>
        When you delete IP content, it is deleted in a manner similar to sending content to the
        recycle bin on a computer. However, removed content may persist in backup copies and recycle
        bin/trash for a reasonable period of time (but will not be available to others for viewing).
      </p>
      <h4>HOW DO I REPORT PLAGIARISM</h4>
      <p>
        If you believe someone is infringing your copyright, you can report it to us by emailing us
        at info@visionarywritings.com . Please be sure to include a complete copyright claim in your
        report.<br /> Before you submit a report of copyright infringement, you may want to send a message
        to the person who published the content. You may be able to resolve the issue without contacting
        Visionary Writings.
      </p>
      <p>
        Remember, only the copyright owner or their authorized representative may file a report of
        copyright infringement. If you believe something on Visionary Writings infringes someone
        else&rsquo;s copyright, you may want to let the rights owner know.
      </p>
      <p>
        Please note that we regularly provide the rights owner&rsquo;s name, your email address and
        the details of your report to the person who submitted the content you are reporting.
      </p>
      <p>
        In the case that you are an authorized representative submitting a report, we provide the
        name of the organization or client that owns the right in question. You may wish to provide
        a valid generic business or professional email address for this reason.
      </p>
      <p>
        Before you submit a report, please consider whether the content you want to report may be a
        permissible use of your copyright or trademark . If you&rsquo;re not sure whether the
        content you&rsquo;re reporting infringes your legal rights, because it may be a fair use or
        otherwise, you may want to seek legal guidance.
      </p>
      <p>
        Please note that submitting a report of intellectual property infringement is a serious
        matter with potential legal consequences. Intentionally submitting misleading or otherwise
        fraudulent reports of copyright or trademark infringement may lead to Visionary Writings
        taking action, including termination of your account.
      </p>
      <h4>ABUSE ON VISIONARY WRITINGS PLATFORM</h4>
      <p>You will not bully, intimidate, or harass any user.</p>
      <p>
        You will not comment content that: is hate speech, threatening, or pornographic; incites
        violence; or contains nudity or graphic or gratuitous violence.(unless it's educational)
      </p>
      <p>
        You will not use Visionary Writings to do anything unlawful, misleading, malicious, or
        discriminatory.
      </p>
      <p>
        On this platform you are not allowed to harass, threaten, embarrass, swear at, sexually
        harass<br /> or abuse any other participants. If you&rsquo;re an author of this platform, you
        are not allowed to belittle, or make negative comparisons to other authors on our platform. By
        doing this you may be banned from this platform.
      </p>
      <p>We may take action any time if someone is abused or harassed on this platform.</p>
      <p>
        Reporting something doesn't guarantee that it will be removed because it may not violate our
        policies.
      </p>
      <p>
        Please note, the number of reports does not impact whether something will be removed. We
        never remove content simply because it has been reported a number of times.
      </p>
      <h4>ABUSE ON SOCIAL MEDIA</h4>
      <p>
        Visionary Writings is limited to take any actions such as a reader harassing one of the
        Visionary Writings authors on a different platform.
      </p>
      <p>
        Any harassment done on a different platform are regulated by that platforms terms and
        conditions.
      </p>
      <p>
        Using social media platforms, we are forced to follow their terms and conditions. If you're
        an author and you're being harassed on other platforms, please contact them or read through
        their terms and conditions to be advised.
      </p>
      <h4>DISPUTE</h4>
      <p>
        You will resolve any claim, cause of action or dispute (claim) you have with us arising out
        of or relating to this Statement, and you agree to submit to the personal jurisdiction of
        such courts for the purpose of litigating all such claims. The laws of South Africa will
        govern this Statement, as well as any claim that might arise between you and us, without
        regard to conflict of law provisions.
      </p>
      <p>
        If anyone brings a claim against us related to your actions, content or information on
        Visionary Writings, you will indemnify and hold us harmless from and against all damages,
        losses, and expenses of any kind (including reasonable legal fees and costs) related to such
        claim. Although we provide rules for user conduct, we do not control or direct users'
        actions on Visionary Writings and are not responsible for the content or information users
        transmit or share on Visionary. We are not responsible for any offensive, inappropriate,
        obscene, unlawful or otherwise objectionable content or information you may encounter on
        Visionary Writings. We are not responsible for the conduct, whether online or offline, of
        any user of Visionary Writings.
      </p>
      <h4>YOUR CONSENT</h4>
      <p>By using our site, you consent to our online privacy policy.</p>
      <h4>CHANGES TO OUR PRIVACY POLICY</h4>
      <p>
        The terms of usage and privacy policy is subject to change without notice and was last
        updated on 12 January 2022. If you have any questions, contact us at
        info@visionarywritings.com.
      </p>
    </section>
  </div>
</SiteLayout>
