---
import TextField from "@components/forms/TextField.astro";
import SiteLayout from "@layouts/SiteLayout.astro";
import bcrypt from "bcryptjs";
import { z } from "zod";

import { formDataToJson, verifyCaptcha } from "@server/astroHelpers";
import { k, p } from "@server/db";
import { sendVerificationEmail } from "@server/email";

const schema = z
  .object({
    name: z.string().min(1, "Required"),
    surname: z.string().min(1, "Required"),
    username: z.string().min(1, "Required"),
    email: z.string().email(),
    cellphoneNumber: z
      .string()
      .regex(
        /^\+\d{7,16}$/,
        "Invalid cellphone number. Prefix with country code, e.g. +27619218870"
      ),
    gender: z.enum(["Male", "Female"]),
    dateOfBirth: z.coerce.date(),
    password: z
      .string()
      .min(8, "Password must be at least 8 characters long")
      .regex(/[A-Z]/, "Password must contain at least one uppercase letter")
      .regex(/[a-z]/, "Password must contain at least one lowercase letter")
      .regex(/[0-9]/, "Password must contain at least one number")
      .regex(/[!@#$%^&*()_+]/, "Password must contain at least one special character"),
    confirmPassword: z.string(),
    "g-recaptcha-response": z.string(),
  })
  .superRefine(({ confirmPassword, password }, ctx) => {
    if (confirmPassword !== password) {
      ctx.addIssue({
        path: ["confirmPassword"],
        code: "custom",
        message: "The passwords did not match",
      });
    }
  });

type FormErrorType = z.ZodError<z.infer<typeof schema>>;
let errors: FormErrorType | null = null;
let submittedData: z.infer<typeof schema> | null = null;
let alertMessage = "";
let success = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    submittedData = formDataToJson(data);
    const parsedData = schema.safeParse(formDataToJson(data));
    if (parsedData.success) {
      const captchaPassed = await verifyCaptcha(parsedData.data["g-recaptcha-response"]);
      if (captchaPassed) {
        const existingEmail = await k
          .selectFrom("users")
          .select("id")
          .where("email", "=", parsedData.data.email)
          .executeTakeFirst();

        const existingPhone = await k
          .selectFrom("users")
          .select("id")
          .where("phone", "=", parsedData.data.cellphoneNumber)
          .executeTakeFirst();

        const existingUsername = await k
          .selectFrom("users")
          .select("id")
          .where("username", "=", parsedData.data.username)
          .executeTakeFirst();

        if (existingEmail) {
          alertMessage = "User with email already exists";
        } else if (existingPhone) {
          alertMessage = "User with phone number already exists";
        } else if (existingUsername) {
          alertMessage = "User with that username already exists";
        } else {
          const user = await p.users.create({
            data: {
              name: parsedData.data.name,
              email: parsedData.data.email,
              phone_verified: true,
              reader: 0,
              password: bcrypt.hashSync(parsedData.data.password),
              email_token: Buffer.from(parsedData.data.email).toString("base64"),
              approved_at: new Date(),
              active: false,
              phone: parsedData.data.cellphoneNumber,
              username: parsedData.data.username,
            },
          });

          const profile = await p.profiles.create({
            data: {
              user_id: user.id,
              dob: parsedData.data.dateOfBirth.toISOString().slice(0, 10),
              gender: parsedData.data.gender,
            },
          });
          //SEND EMAIL HERE
          success = true;
          submittedData = null;
          await sendVerificationEmail(
            user.name,
            user.email,
            process.env.ASTROAUTH_URL + "/verify-user/" + user.email_token
          );
        }
      } else {
        alertMessage = "Captcha Failed. Please try again";
      }
    } else {
      errors = parsedData.error;
      alertMessage =
        "Oops! Looks like there are a few errors, could you please take a moment to fix them below?";
    }

    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<SiteLayout title="Join as Author">
  <div class="text-center items-center flex flex-col gap-8 p-2 md:p-14 font-poppins">
    <h1 class="text-4xl">Begin your writing journey</h1>
    <section
      class="flex w-full max-w-2xl flex-col items-center gap-3 p-8 rounded-lg bg-base-300 shadow-md mb-10"
    >
      {
        alertMessage && (
          <div class="alert alert-error bg-opacity-80 rounded-md shadow-lg">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="stroke-current flex-shrink-0 w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>{alertMessage}</span>
            </div>
          </div>
        )
      }
      {
        success && (
          <div class="alert alert-success shadow-lg">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="stroke-current flex-shrink-0 h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>
                Success! Just one more step! Please check your email for a confirmation link.
              </span>
            </div>
          </div>
        )
      }
      {
        !success && (
          <form method="POST" class="w-full flex flex-col gap-2">
            <div class="flex gap-2">
              <TextField
                label="Name"
                name="name"
                defaultValue={submittedData?.["name"]}
                errors={errors?.formErrors.fieldErrors["name"]}
              />
              <TextField
                label="Surname"
                name="surname"
                defaultValue={submittedData?.["surname"]}
                errors={errors?.formErrors.fieldErrors["surname"]}
              />
            </div>
            <div class="flex flex-col lg:flex-row gap-2">
              <TextField
                label="Username"
                name="username"
                defaultValue={submittedData?.["username"]}
                errors={errors?.formErrors.fieldErrors["username"]}
              />
              <TextField
                label="Cellphone Number"
                name="cellphoneNumber"
                defaultValue={submittedData?.["cellphoneNumber"] || "+27"}
                errors={errors?.formErrors.fieldErrors["cellphoneNumber"]}
                type="text"
                topRightLabel="Include Country Code"
              />
            </div>
            <TextField
              label="Email"
              name="email"
              defaultValue={submittedData?.["email"]}
              errors={errors?.formErrors.fieldErrors["email"]}
            />

            <div class="flex gap-2">
              <div class="form-control w-full">
                <label class="label">
                  <span class={`label-text `}>Gender</span>
                </label>
                <select
                  name="gender"
                  class={`select select-bordered ${
                    (errors?.formErrors?.fieldErrors?.["gender"]?.length ?? 0) > 0
                      ? "select-error"
                      : ""
                  }`}
                >
                  <option selected={submittedData == null}>Gender</option>
                  <option selected={submittedData && submittedData.gender === "Male"} value="Male">
                    Male
                  </option>
                  <option
                    selected={submittedData && submittedData.gender === "Female"}
                    value="Female"
                  >
                    Female
                  </option>
                </select>
                {(errors?.formErrors?.fieldErrors?.["gender"]?.length ?? 0) > 0 && (
                  <div class="flex flex-col gap-1 my-2">
                    {errors?.formErrors?.fieldErrors?.["gender"]?.map((error) => (
                      <label class="label p-0">
                        <span class="label-text-alt text-error m-0">{error}</span>
                      </label>
                    ))}
                  </div>
                )}
              </div>
              <TextField
                label="Date of Birth"
                name="dateOfBirth"
                defaultValue={submittedData?.["dateOfBirth"].toString()}
                errors={errors?.formErrors.fieldErrors["dateOfBirth"]}
                type="date"
              />
            </div>
            <TextField
              label="Password"
              name="password"
              defaultValue={submittedData?.["password"]}
              errors={errors?.formErrors.fieldErrors["password"]}
              type="password"
            />
            <TextField
              label="Confirm Password"
              name="confirmPassword"
              defaultValue={submittedData?.["confirmPassword"]}
              errors={errors?.formErrors.fieldErrors["confirmPassword"]}
              type="password"
            />
            <div class="flex justify-center">
              <div class="g-recaptcha my-4" data-sitekey={process.env.CAPTCHA_SITE_KEY} />
            </div>
            <button type="submit" class="btn btn-primary mt-6">
              Submit
            </button>
          </form>
        )
      }
    </section>
  </div>
</SiteLayout>
