name: CI Staging

on:
  push:
    branches:
      - staging

jobs:
  docker-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          build-args: |
            ASTROAUTH_URL=${{ secrets.ASTROAUTH_URL }}
            ASTROAUTH_SECRET=${{ secrets.ASTROAUTH_SECRET }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}
            DATABASE_URL=${{ secrets.STAGING_DATABASE_URL }}
          tags: |
            riyaadhabr/visionary-writings-astro:staging-${{ github.sha }}
            riyaadhabr/visionary-writings-astro:staging
